html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background-color: #1a1527 !important;
}

.profile-detail {
  background-color: #0f0d16 !important;
  padding-top: 0px !important;
  gap: 8rem;
}

.profile-detail .profile-photo {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem !important;
  filter: grayscale(100%);
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 0.25s !important;
}

.profile-detail .profile-photo:hover {
  filter: none;
  cursor: pointer;
}

.profile-detail .profile-content {
  gap: 4rem;
}

.marquee-container {
  height: 3rem;
  overflow: hidden;
  line-height: 30px;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

.marquee-container:before,
.marquee-container:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee-container:before {
  left: 0;
  background: linear-gradient(to right, #111 0%, transparent 100%);
}
.marquee-container:after {
  right: 0;
  background: linear-gradient(to left, #111 0%, transparent 100%);
}

.marquee {
  top: 0;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.marquee > a > img {
  height: 3rem;
  filter: grayscale(100%);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.marquee > a:hover img {
  filter: none;
  cursor: pointer;
}

.marquee2 {
  animation-delay: 7.5s;
}
b {
  padding-left: 10px;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.profile-detail .profile-content .paragraph {
  gap: 1rem;
}

.profile-detail .profile-content .profile-title p {
  letter-spacing: 0.3em !important;
  font-weight: 700 !important;
  color: rgb(146 153 169);
}

.profile-detail .profile-content .profile-title h1 {
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
  font-size: 40px !important;
  font-weight: 700 !important;
  color: var(--cv-primary-color);
}

.profile-detail .profile-content .profile-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  width: 80%;
  margin: auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 0;
  z-index: 101;
}

.page-container {
  color: #fff;
  background-color: #202437 !important;
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 0 0 100%;
  padding: 40px 70px 60px;
  background-color: #fff;
  backface-visibility: hidden;
  overflow: hidden;
}

.hero-content {
  margin: 5% 10%;
}
.home-photo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% - 36px);
  background-color: #444;
  border-radius: 1000px;
  border: 18px solid #4c5683;
  overflow: hidden;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8);
}
.home-photo > .hp-inner {
  background-image: url(https://media.licdn.com/dms/image/D5603AQFkDc7i2WMSnw/profile-displayphoto-shrink_200_200/0/1686357022928?e=1720656000&v=beta&t=jKssIhM0IMAuWWx4OLeXU3glTsfRbmKlTRHzskQJ_ww);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: block;
  position: absolute;
  top: -18px;
  bottom: -18px;
  width: auto;
  left: -18px;
  right: -18px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.transition-puff-in {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}
@keyframes puffIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --cv-primary-color: #5918df;
  --cv-secoundry-color: #d252ff;
  --cv-white-color: #ffffff;
  --cv-black-color: #000707;
  --cv-transition: all 0.3s;
  --cv-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto Condensed, Lato, Arial, sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  color: var(--cv-white-color);
  position: relative;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--cv-primary-color);
  min-height: 150px;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  text-decoration: none;
  -webkit-transition: var(--cv-transition);
  -moz-transition: var(--cv-transition);
  -ms-transition: var(--cv-transition);
  -o-transition: var(--cv-transition);
  transition: var(--cv-transition);
}

p {
  margin: 0px;
  word-break: break-word;
}

.cv_main_wrapper > .cv_banner_wrapper {
  width: 100%;
  min-height: 75vh;
  position: relative;
  background-image: url(../img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-content {
  overflow: hidden;
}

.project-content::before {
  color: #221d35;
  content: "WEB";
  font-size: 240px;
  font-weight: 700;
  position: absolute;
  right: -30px;
  /* top: -20%; */
}

section {
  padding: 5% 0;
}

.cv_top_icon a {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: var(--cv-transition) opacity 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  animation: border-transform 4s linear infinite alternate forwards;
}

@keyframes border-transform {
  0% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    transform: translateY(0px);
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    transform: translateY(-20px);
  }
}

.cv_top_icon a:active {
  background-color: var(--cv-black-color);
}
.cv_top_icon a.show {
  opacity: 1;
  visibility: visible;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
}

.loader img {
  width: 100px;
}

.cv_navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.cv_banner_wrapper {
  background-image: url(../images/banner-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv_banner_text h5 {
  display: inline-block;
  background-color: var(--cv-primary-color);
  border-radius: 51px;
  padding: 8px 25px;
  margin-bottom: 18px;
}

.cv_banner_text h1 {
  font-size: 40px;
  font-weight: 700;
}

.cv_banner_text h1 .name {
  color: var(--cv-primary-color);
}
